corpo {
    família de fontes :  'Roboto Mono' , monoespaçado;
    altura mínima :  600 px ;
    imagem de fundo :  url ( 'https://i.postimg.cc/q77LkTh2/dica-senha-1200x640.jpg' );
    cor de fundo :  # 000000 ;
    tamanho do plano de fundo : capa;
    posição de fundo : centro inferior;
    repetição em segundo plano : sem repetição;
  }
  
  . contêiner {
    alinhamento de texto : centro;
    preenchimento :  20 px ;
    altura :  100 vh ;
  }
  
  . título da página {
    cor :  #ffffff ;​
    margem :  0  0  5 px ;
  }
  
  . legenda da página {
    cor :  #ffffff ;​
    margem superior :  5 px ;
  }
  
  . logotipo da página {
    largura :  200 pixels ;
  }
  
  . logotipo alura {
    largura :  40px ;​
    posição : absoluta;
    superior :  10px ;​
    direita : 10px ;​
  }
  
  @media ( altura máxima :  500 px ) {
    corpo {
      altura mínima : 800 px ;
    }
  }
